<mat-toolbar class="navbar">
  <mat-sidenav-container class="navbar-button">

    <mat-sidenav-content>
      <button class="toogle-button" type="button">
        <mat-icon mat-button class="icon" (click)="sidenav.toggle()">menu</mat-icon>
      </button>

    </mat-sidenav-content>
  </mat-sidenav-container>

  <mat-nav-list class="navbar-content">
    <a class="navbar-content__item" href="#">
      <span>Journal</span>
    </a>
    <div>
      <a class="navbar-content__item" href="user/logout">
        <span>Logout</span>
      </a>
      <a class="navbar-content__item" href="user/login">
        <span>Login</span>
      </a>
      <a class="navbar-content__item" href="user/registration">
        <span>Register</span>
      </a>
    </div>
  </mat-nav-list>

</mat-toolbar>

<mat-sidenav-container class="sidenav" (backdropClick)="sidenav.close()">
  <mat-sidenav class="sidenav-content" #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-list>
      <mat-list-item>
        <a class="sidenav-content__item" href="articles">
          <span>Articles</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content class="container">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
