<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">

  <title>Jornal</title>
 
  
</head>
<body>
	{{> navbar}}
	<div class="container">
		{{> msg}}
		{{{body}}}
	</div>
	<link href="/assets/main.css" rel="stylesheet">
  <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
</body>
</html>