<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">

  <title>Jornal</title>
 
</head>
<body>
	{{> ../partials/navbar}}
	<div class="container">
		{{> ../partials/msg}}
		{{{body}}}
	</div>
	<script src="../main.js"></script>
</body>
</html>