<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">

  <title>Example App</title>
 
  
</head>
<body>
	{{> navbar}}
	<div class="container">
		{{> msg}}
		{{{body}}}
	</div>
	<link href="/assets/main.css" rel="stylesheet">
  <link href="/css/bootstrap-grid.min.css" rel="stylesheet">
	{{!-- <link href="/css/bootstrap.min.css" rel="stylesheet"> --}}
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> --}}
</body>
</html>