<p>
  {{duration}} player works! {{name}}
</p>
<button (click)="load()">load</button>
<div>
  <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
  <mat-icon>skip_previous</mat-icon>
  <mat-icon *ngIf="!playerState.isPlay" (click)="startPlayer()">play_arrow</mat-icon>
  <mat-icon *ngIf="playerState.isPlay" (click)="stopPlayer()">pause</mat-icon>
  <mat-icon>skip_next</mat-icon>

  <mat-slider (input)="changeVolume($event)" color="primary" min="0" max="100" [value]="playerState.volume"></mat-slider>
  <mat-icon *ngIf="playerState.volume >= 70">volume_up</mat-icon>
  <mat-icon *ngIf="(playerState.volume >= 30) && (playerState.volume < 70)">volume_down</mat-icon>
  <mat-icon *ngIf="playerState.volume <= 29 && playerState.volume !== 0">volume_mute</mat-icon>
  <mat-icon *ngIf="playerState.volume === 0">volume_off</mat-icon>
</div>

