<div class="player" fxLayout="column">
  <div *ngIf="!isLoaded" class="spinner" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
  <img
    *ngIf="isLoaded"
    [src]="
      'https://api.napster.com/imageserver/v2/albums/' +
      playerState.artistInfo.albumId +
      '/images/300x300.jpg'
    "
    alt=""
  />
  <h3>{{ name }}</h3>
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-button (click)="previousSong()">
      <mat-icon>skip_previous</mat-icon>
    </button>
    <button
      mat-button
      [disabled]="!playerState.isHasSong"
      (click)="togglePlay()"
    >
      <mat-icon *ngIf="!playerState.isPlay">play_arrow</mat-icon>
      <mat-icon *ngIf="playerState.isPlay">pause</mat-icon>
    </button>
    <button mat-button (click)="nextSong()">
      <mat-icon>skip_next</mat-icon>
    </button>
    <div fxLayoutAlign="space-around center">
      <button (click)="toggleVolume()" mat-icon-button>
        <mat-icon>{{ getVolumeIcon() }}</mat-icon>
      </button>
      <mat-slider
        (input)="changeVolume($event)"
        color="primary"
        min="0.00"
        max="1.00"
        step="0.01"
        [value]="volumeOff ? 0 : playerState.volume"
      ></mat-slider>
    </div>
    <app-music-upload></app-music-upload>
  </div>
  <mat-slider
    (input)="setCurrentTime($event)"
    [disabled]="!playerState.isHasSong"
    color="primary"
    mode="determinate"
    [value]="progressValue"
  ></mat-slider>
</div>
