<div class="container">
  <div class="row m-3">

  {{#each article}}
    <div class="col-3 card m-2">
      <h4>{{title}}</h4>
      <div class="card-body">
        {{description}}
      </div>
      <a class="btn btn-dark btn-block mb-2" href="/articles/edit/{{_id}}">Edit</a>
      <a class="btn btn-dark btn-block mb-2" href="/articles/delete/{{_id}}">Delete</a>
    </div>
  {{/each}}

  </div>
</div>
