<div class="login-form col-4 offset-4 p-3 mt-5">
  <h3 class="text-center">Account Login</h3>
  <form method="post" action="/user/login">
    <div class="form-group">
      <input class="title-input" type="email" name="email">
      <label class="title-label" for="email">Email</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" name="password">
      <label class="title-label" for="password">Password</label>
    </div>
    <div class="space-between">
      <button class="btn">Log in</button>
      <a class="link" href="/user/register">Register</a>
    </div>
    
  </form>
</div>