<div class="col-4 offset-4 card p-3 mt-5">
  <h3 class="text-center">Account Register</h3>
  <form method="post" action="/user/register">
    <div class="form-group">
      <input class="title-input" type="text" name="name" value="{{name}}">
      <label class="title-label" for="">Name</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="email" name="email" value="{{email}}">
      <label class="title-label" for="">Email</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" name="password" value="{{password}}">
      <label class="title-label" for="">Password</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" name="password2" value="{{password2}}">
      <label class="title-label" for="">Confirm Password</label>
    </div>
    <div class="center">
      <button class="btn">Register</button>
    </div>
  </form>
</div>