<div [formGroup]="addForm" class="container" fxLayout="column">
  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
    <mat-error *ngIf="addForm.get('title').errors?.required">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
    <mat-error *ngIf="addForm.get('description').errors?.required">
      Description is required
    </mat-error>
  </mat-form-field>

  <div fxLayoutAlign="end">
    <button color="accent" mat-raised-button type="button" name="button" (click)="addArticle()">Save</button>
  </div>
</div>
