<!-- <div class="col-4 offset-4">
  <h3 class="text-center">Account Login</h3>
  <h3 *ngIf="error">{{error}}</h3>
  <form (ngSubmit)="loginUser(email, password)" method="post" action="/user/login">
    <div class="form-group">
      <input class="title-input" type="email" name="email" [(ngModel)]="email">
      <label class="title-label" for="email">Email</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" name="password" [(ngModel)]="password">
      <label class="title-label" for="password">Password</label>
    </div>
    <div class="space-between">
      <button class="btn">Log in</button>
      <a class="link" href="/user/registration">Register</a>
    </div>
  </form>
</div>
 -->

<form [formGroup]="loginUserForm" (ngSubmit)="loginUser(email, password)" class="" method="post">
  <mat-card class="login-form">
    <h3 class="text-center">Account Login</h3>
    <mat-form-field color="warn">
      <input matInput type="email" placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field color="warn">
      <input matInput type="password" placeholder="Password" formControlName="password">
    </mat-form-field>

    <div class="login-buttons">
      <button class="button" mat-raised-button color="warn">Log in</button>
      <a class="link" href="#">Register</a>
    </div>
  </mat-card>
</form>
