::ng-deep .mat-mini-fab .mat-button-wrapper {
  line-height: 22px!important;
}


.spinner {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin: 100px auto;
}

.articles {
  flex-wrap: wrap;
}
