<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card class="validation-form">
    <h3 class="text-center">Log in</h3>
    <mat-form-field color="warn">
      <input matInput type="email" placeholder="email" formControlName="email" required>
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="loginForm.controls.email.hasError('email')">
        Not a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field color="warn">
      <input matInput type="password" placeholder="password" formControlName="password" required>
      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        You must enter a value
      </mat-error>
      <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">
        Password should contain 6 characters
      </mat-error>
    </mat-form-field>
    <div class="validation-buttons">
      <button class="button" mat-raised-button color="warn" [disabled]="loginForm.invalid">Login</button>
      <a class="link" [href]="user/registration">Registration</a>
    </div>
  </mat-card>
</form>
