<ul class="track-list">
  <li class="track" *ngFor="let track of tracks; let i = index" fxLayout="row">
    <button
      class="track__button"
      [style.background-image]="
        'url(https://api.napster.com/imageserver/v2/albums/' +
        track.albumId +
        '/images/70x70.jpg)'
      "
    >
      <div class="icon_none">
        <button
          *ngIf="!isPlay || name !== track.name"
          mat-mini-fab
          color="primary"
          (click)="togglePlayTrack(i, true)"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button
          *ngIf="name === track.name && isPlay"
          mat-mini-fab
          color="primary"
          (click)="togglePlayTrack(i, false)"
        >
          <mat-icon>pause</mat-icon>
        </button>
      </div>
    </button>

    <div class="track__titles" fxLayout="column" (click)="playTrack()">
      <p class="track__name">{{ track.name }}</p>
      <p class="track__artist-name">{{ track.artistName }}</p>
    </div>
  </li>
</ul>
