<mat-card fxFlex="50" fxLayout="column">
  <ul class="track-list">
    <li
      class="track"
      *ngFor="let track of tracks; let i = index"
      fxLayout="row"
    >
      <button
        class="track__button"
        [style.background-image]="
          'url(https://api.napster.com/imageserver/v2/albums/' +
          track.albumId +
          '/images/70x70.jpg)'
        "
      >
        <div class="icon_none" (click)="toggleTrack(i)">
          <mat-icon>play_arrow</mat-icon>
          <!-- <mat-icon>pause</mat-icon> -->
        </div>
      </button>

      <div class="track__titles" fxLayout="column" (click)="playTrack()">
        <!-- <p class="track__album-name">{{ track.albumName }}</p> -->
        <p class="track__name">{{ track.name }}</p>
        <p class="track__artist-name">{{ track.artistName }}</p>
      </div>
    </li>
  </ul>
  <audio
    src="https://listen.hs.llnwd.net/g3/5/3/4/3/5/1498053435.mp3"
    controls
  ></audio>
</mat-card>
