<!-- <div class="col-4 offset-4">
  <h3 class="text-center">Account Register</h3>
  <form [formGroup]="registUserForm" (ngSubmit)="onSubmit()" method="post" action="/user/registration">
    <div class="form-group">
      <input class="title-input" type="text" formControlName="name">
      <label class="title-label" for="">Name</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="email" formControlName="email">
      <label class="title-label" for="">Email</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" formControlName="password">
      <label class="title-label" for="">Password</label>
    </div>
    <div class="form-group">
      <input class="title-input" type="password" formControlName="password2">
      <label class="title-label" for="">Confirm Password</label>
    </div>
    <div class="center">
      <button class="btn">Register</button>
    </div>
  </form>
</div> -->

<app-validation-form [linkAttr]="linkAttr" [typeForm]="typeForm" [validationForm]="Form"></app-validation-form>
