.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  padding: 0.5rem 1rem;
  background-color: #343a40;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 15px;
  }

  &__link {
    color: white;
  }
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

.btn-toggle {
  display: block;
  width: 50px;
  padding: .25rem 0.75rem;
  height: 35px;
  background: #343a40;
  color: rgba(255,255,255,.5);
  border-radius: .25rem;
  border-color: rgba(255,255,255,.1);
}


@media (min-width: 768px) {
  .btn-toggle {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-content {
    display: none;
  }

  .navbar-brand {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
